{% extends "../../layout/_base.twig" %}

{% block body %}
<main class="user">
<ul>
  {% for user in users %}
    <li>
      <a href="#">{{user.username}}</a>
    </li>
  {% endfor %}
</ul>
</main>
{% endblock %}
