# ENVIRONNEMENT GLOBAL
# -----------------------------------------------------------------------------
# Pour être sur que le fichier .gitignore n'est jamais ignorer lui-même.
!.gitignore

# OS
# -----------------------------------------------------------------------------
# Ignorer les fichiers générés par les systèmes d'exploitation
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDE
# -----------------------------------------------------------------------------
# Ignorer les fichiers générés par les IDE
nbproject
.~lock.*
.buildpath
.idea
.project
.settings

# SASS
# -----------------------------------------------------------------------------
# Ignorer le cache de Sass
.sass-cache

# Ignorer la configuration interne de Bunler
.bundle

# Ignorer les gems instalées avec le projet
# N'hésitez pas à adpater le nom du dossier à vos propre habitudes
.gems


# MODULES TIERS
# -----------------------------------------------------------------------------
# Ignorer les modules et logs nodes
node_modules
logs
*.log
npm-debug.log*

# Ignorer les biblothèques et fichiers temporaires gérés via Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

# Ignorer les biblothèques et fichiers temporaires gérés via JSPM
jspm_packages

# PROJET
# -----------------------------------------------------------------------------
# Ignorer les bibliothèques JS tiers placé dans les sources
# src/js/lib

# Ignorer les bibliothèques Sass tiers placé dans les sources
# src/sass/lib

# Ignorer le build
build
