
$color-grey: silver;
$color-green: #16a085;
$color-dark-blue: #2c3e50;
$color-orange: #e67e22;
$color-yellow: #f1c40f;
$color-pink: #8e44ad;
$color-red-orange: #e74c3c;
$color-red: #c0392b;
$color-blue: #3498db;
$color-flash-green: #2ecc71;
$color-light-grey: lighten($color-grey, 20);

$font-title: 'Alex Brush', cursive;
$font-cursive: 'Sofia', cursive;


/* Box sizing normalization */
html {
  box-sizing: border-box;
}
*, *:after, *::before {
	box-sizing: inherit;
}
