{# _default.twig #}
{# Ce gabarit est utilisé les pages du projets #}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>{{ title }}</title>

    <link href="{% root %}/css/styles.css" rel="stylesheet">
    {% block jsmodule %}
    {% endblock %}
  </head>
  <body>
    {% block nav %}
    <nav>
      <input type="checkbox" id="navcheck" role="button" title="menu">
      <label for="navcheck" aria-hidden="true" title="menu">
        <h1>
          Make a wish
        </h1>
      </label>
      <div class="menu">
        <a href="/pages/user">
          Ma Wishlist
        </a>
        <a href="/pages/user">
          Offrir un cadeau
        </a>
        <a href="/pages/user">
          Gérer les utilisateurs
        </a>
        <a href="#">Modifier mon profil</a>
        <a href="#">
          Déconnexion
        </a>
      </div>
    </nav>
    {% endblock %}
    {% block body %}{% endblock %}
  </body>
</html>
