{% extends "../layout/_base.twig" %}
{% block nav %}{% endblock %}
{% block body %}
<header>* Make a Wish *</header>
<form class="login" method="get" action="wish/index.html">
  <p>
    <label for="username">Login :</label>
    <input id="username" type="text" placeholder=" Login" name="username" required="required"/>
  </p>
  <p>
    <label for="password">Mot de passe :</label>
    <input id="password" type="password" placeholder=" Mot de passe" name="password" required="required"/>
  </p>
  <p class="noflex small">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" title="Se souvenir de moi ?"/>
    <label for="remember_me">Se souvenir de moi ?</label>
  </p>
  <p class="noflex small">
    <a href="#">
      Mot de passe oublié&nbsp;?
    </a>
  </p>
  <p>
    <input class="validate" type="submit" id="_submit" name="_submit" title="Valider" value=" "/>
  </p>
</form>
{% endblock %}
