{% extends "../../layout/_base.twig" %}

{% block body %}
<main>
    <article class="wish {{ wish.category.slug }}">
      <header>
        {{ wish.category.name }}
      </header>
      <h2>
        {{ wish.title }}
      </h2>
      <div class="show">
                {{ wish.description | raw }}
            </div>
      <footer>
        <a href="#">Offrir</a>
        <a href="otherindex.html">Retour</a>
      </footer>
    </article>
  </form>
</main>
{% endblock %}
