{% extends "../../layout/_base.twig" %}

{% block body %}
<main>
  <form class="editor" name="wish" method="get" action="index.html">
    <article class="wish {{ wish.category.slug }}">
      <header>
        {{ wish.category.name }}
      </header>
      <h2>
        {{ wish.title }}
      </h2>
      <h2>
        {{ wish.description | raw }}
      </h2>
      <footer>
        <a href="update.html">Modifier</a>
        <input type="submit" value="Supprimer">
      </footer>
    </article>
  </form>
</main>
{% endblock %}
